<h1>Welcome</h1>
<p class="divider">------------------------------------</p>
<app-hello-world></app-hello-world>
<p class="divider">------------------------------------</p>
<app-date></app-date>
<p class="divider">------------------------------------</p>
<app-for-if></app-for-if>
<p class="divider">------------------------------------</p>
<app-ngoninit-passing-param name="Sayan" add="Kolkata"></app-ngoninit-passing-param>
<p class="divider">------------------------------------</p>
<app-object-input [user]="user"></app-object-input>

<p class="divider">------------------------------------</p>
<app-life-cycle></app-life-cycle>
<p class="divider">------------------------------------</p>
<app-button-click></app-button-click>
